<h3><%= @book.name %></h3>
<% @book.authors.each do |author| %>
</p>Written by: <%= author.name%></p>
<% end %>

<form action="/books/<%= @book.id %>/checkout" method="get">
  <input name="_method" type="hidden" value="get">
  <button type="submit" class="btn-success">Checkout Book</button>
</form>
