<h1> Welcome to the Library</h1>

<button class="btn-success"><a href="/librarian">Click here if you are the librarian</a></button>
<br>
<br>

<form class="form-group" action="/consumer/add" method="post">

  <input type="text" method="post" name="username" id="username" placeholder=" create username">
<button type="submit" class="btn-success">Submit</button>
<br>