<h1> Welcome to the Library</h1>

<button class="btn-success"><a href="/librarian">Click here if you are the librarian</a></button>
<br>
<br>
<button class="btn-success"><a href="/consumer">Click here if you are a regular 'ol user </a></button>