<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
  </head>
  <body>
    <div class="container" id="g">
      <nav class="navbar navbar-default">
        <div class="container-fluid" id="f">
          <div class="navbar-header">
            <p class="navbar-brand">Tyler and Reid's Library</p>
          </div>
          <ul class="nav navbar-nav" id="h">
            <li><a href="/home">Home</a></li>
            <li><a href="/books">Our Books</a></li>
            <li><a href="/authors">Our Authors</a></li>
            
          </ul>
        </div>
</nav>
      <%= yield %>

  <%# <form action="/books/search_results">
    <div class="form-group" >
      <input class="form-control" id="book_search" name="book_search" type="text" placeholder="Search by book">
      </div>
      <button class="btn-success" type="submit">Submit</button>
      </form>
              
  

  <form action="/authors/search_results">
    <div class="form-group" >
      <input class="form-control" id="author_search" name="author_search" type="text" placeholder="Search by Author">
      </div>
      <button class="btn-success" type="submit">Submit</button>
      </form> %>
             

  <br>      
  <ul class="nav navbar-nav">
    <li>
      <form action="/books/search_results">
        <div class="form-group" >
          <input class="form-control" id="book_search" name="book_search" type="text" placeholder="Search by book">
        </div>
        <button class="btn-success" type="submit">Submit</button>
      </form>
    </li>
    <li>
      <form action="/authors/search_results">
        <div class="form-group" >
          <input class="form-control" id="author_search" name="author_search" type="text" placeholder="Search by Author">
        </div>
        <button class="btn-success" type="submit">Submit</button>
      </form>
    </li>
            
            
          </ul>
        </div>
    </div>
  </body>
</html> 


