<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <p class="navbar-brand">Tyler and Reid's Library</p>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/books">Our Books</a></li>
            <li><a href="/authors">Our Authors</a></li>
            <li>
              <form action="/books/search_results">
                <div class="form-group" >
                  <input class="form-control" id="book_search" name="book_search" type="text" placeholder="Search by book">
                  </div>
                  <button class="btn-success" type="submit">Submit</button>
                  </form>
              </li>
          </ul>
        </div>
</nav>
      <%= yield %>

    </div>
  </body>
</html> 


