<%if @results %>
  <ul>
    <% @results.each do |book| %>
    <li><a href="/books/<%= book.id%>"><%= book.name %></a></li>
  
  <% end %>
  </ul>

<% elsif @author_results %>
  <ul>
  <%@author_results.each do |author| %>
  <li><a href="/authors/<%= author.id%>"><%= author.name %></a></li>
  <% end %>
  </ul>
<% end %>


 